<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8"/>
        <title>leagues</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	</head>
    <body>
        <div class="container">
            <div class="panel panel-default">
                <table class="table">
                    <tr>
                        <th>Year</th>
                        <th>League</th>
                        <th>Caption</th>
                    </tr>
                    {{#each .}}
                        <tr>
                            <td>{{year}}</td>
                            <td>{{league}}</td>
                            <td>{{{linkForLeague id caption}}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </body>
</html>