{{#> layout}}
<div class="col-md-4"></div>
<div class="col-md-4 panel well">
    <form action="/login" method="post">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="username" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Log In" class="form-control"/>
        </div>
    </form>
</div>
<div class="col-md-4"></div>
{{/layout}}